<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>216081542828-q79jchvqclj4m83f10s4b04ath0skglb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.216081542828-q79jchvqclj4m83f10s4b04ath0skglb</string>
	<key>API_KEY</key>
	<string>AIzaSyB9qlGQKASxPrc2nMUQ2ysZgvJ_-yj2c7M</string>
	<key>GCM_SENDER_ID</key>
	<string>216081542828</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.atoz</string>
	<key>PROJECT_ID</key>
	<string>a-to-z-17078</string>
	<key>STORAGE_BUCKET</key>
	<string>a-to-z-17078.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:216081542828:ios:4a974ea231880542e9f909</string>
</dict>
</plist>